body {
    font-family: Arial, sans-serif;
}

h1 { 
    color:#878787;
    font-size: 24px;
    font-weight:100;
    line-height: 20px;
    margin-bottom: 0;

}
ul{
    margin: 0;
    padding: 0;
}
li{
     list-style: none;
     color: rgb(135, 135, 135);
     font-size: 16px;
     font-weight: 100;
     text-transform: capitalize;
     line-height:19px
   
}
.weather-wrapper{
    display: block;
    margin: 30px auto;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 100px;
    padding: 20px 10px;
    background: rgba(86, 156, 189, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(184, 184, 214, 0.8);
}
footer{
    font-size: smaller;
    margin-top: 10px;
    text-align: center;

}

/* .weather {
    
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
} */
.overview{
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}
.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: 8px;
}
.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}
.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

